/* Bu satırları CSS dosyanın en başına ekleyebilirsin */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;800&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-outfit: "Outfit", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  --color-tema-kutu: #F8971F;
  --color-tema-enak: #F5E4C3;
  --color-tema-secili: #F9C261;
  --color-tema-buton2: #5F9CB8;
  --color-tema-vector: #FAECA2;
  --color-tema-yazi: #130D3D;
  --color-wrong: #E53935;
  --color-correct: #43A047;
}

body {
  background-color: #1f2937; /* Masaüstü için dış koyu arka plan */
  margin: 0;
  font-family: var(--font-poppins); /* Genel font */
}

/* Kareli Defter Deseni */
.bg-grid-paper {
  background-color: #ffffff;
  background-image: 
    linear-gradient(#e5e7eb 1px, transparent 1px),
    linear-gradient(90deg, #e5e7eb 1px, transparent 1px);
  background-size: 20px 20px; /* Karelerin boyutu, isteğe göre küçültüp büyütebilirsin */
  background-position: center top;
}